/*nav*/

.navbar{
    font-family: "Raleway";
    font-size: medium;
}


/* quienes somos*/
.fondo {
    background-color: black;
}


h2 {
    font-family: "Raleway";
    font-size: larger ;
    color: white;
}

p {
    color: white;
    font-family: "Raleway";
    font-size: medium;
}

/*destacados*/

.tarjeta {
    background-color: black;
}

.imgCard {
    width: 238px;
    height: 158px
}

/*footer*/

.icono {
    list-style-type: none;
    text-decoration: none;
    text-transform: none;
    color: #ffffff;
}